# Python cache and environment
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# Database files
*.sqlite3

# Django static and media files
staticfiles/
media/

# PyCharm / VS Code / IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.pot
*.pyc
*.swp
*.swo

# Environment variables
.env

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json